html, body{
  width: 100px;  
}

div{
  cursor: pointer;
}

.button{
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
  text-align: center;
  color: #633;
}
.button:hover{
  color: #fff;
  background-color: #abc;
}
.reset{
  color: #f00;
}
.reset:hover{
  background-color: #f00;
}
  
